/* .post{
    border: 1px solid #000000;
    padding: 10px;
    margin: 10px;
    color: rgb(1, 1, 1);

} */

.custom-btn{
    margin: 5px;
    padding: auto;
}
.date{
    font-size: 12px;
}
/* .centerstage{
    border: 1px solid #000000;
    border-radius: 2%;
} */
body, html{
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(35, 36, 38);
    color: white;
}
/* blog.css */

/* Ensure that the image has a fixed size */
.fixed-size-img {
    width: 100%; /* Take up the full width of the card */
    height: 550px; /* Set a fixed height */
    object-fit: cover; /* Ensure the image covers the area without stretching */
    border-radius: 0.25rem; /* Optional: match Bootstrap's border-radius for images */
}

/* Optional: Additional styles for debugging */
.card-img-top {
    border: 2px solid red; /* Add a border to see the image area */
}

